<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Country List</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="row">
            <div class="col-lg-12">
                <div th:if="${message != null}" class="alert alert-success text-center h4" th:text="${message}"></div>
                <section class="panel">
                    <div class="panel-body">
                    <!--    Search Filter Table Data    -->
                        <form th:action="@{/countries}">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="/countryAdd" class="btn btn-primary">Add New Country</a>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="keyword" class="form-control">
                            </div>
                            <div class="col-lg-3">
                                <input type="submit" value="Search" class="form-control btn-success">
                            </div>
                        </div>
                        </form>
                        <!--   End Search Filter Table Data    -->
                    </div>
                </section>
                <section class="panel">
                    <header class="panel-heading">
                       List of Countries
                    </header>
                    <div class="table-responsive">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <!--               Adding the Endpoint for Data Sorting         -->
                            <th><i class="icon_profile"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/description?sortDir=' + ${reverseSortDir}}">Description</a></th>
                            <th><i class="icon_calendar"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/capital?sortDir=' + ${reverseSortDir}}">Capital</a></th>
                            <th><i class="icon_mail_alt"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/code?sortDir=' + ${reverseSortDir}}">Code</a></th>
                            <th><i class="icon_pin_alt"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/nationality?sortDir=' + ${reverseSortDir}}">Nationality</a></a></th>
                            <th><i class="icon_mobile"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/continent?sortDir=' + ${reverseSortDir}}">Continent</a></th>
                            <th><i class="icon_cogs"></i> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="country : ${countries}">
                            <td th:text="${country.description}"></td>
                            <td th:text="${country.capital}"></td>
                            <td th:text="${country.code}"></td>
                            <td th:text="${country.nationality}"></td>
                            <td th:text="${country .continent}"></td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" th:href="@{'/countryDetails/' + ${country.id}}"><i class="icon_plus_alt2"></i></a>
                                    <a class="btn btn-success" th:href="@{'/countryEdit/' + ${country.id}}"><i class="icon_check_alt2"></i></a>
                                    <a class="btn btn-danger" th:href="@{'/countries/delete/' + ${country.id}}"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                   </section>
                <div class="text-center">
                    <footer class="text-center m-3">
                        Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                    </footer>
                    <ul class="pagination">
                        <li class="page-item">
                            <!--    If  the Current Page (maybe Page 2, 3, 4) is Greater than 1 then make First a Link and redirect to it  -->
                            <a  class="page-link disabled" th:if="${currentPage > 1}" th:href="@{/countries/page/1}">First</a>
                            <!--    If  the Current Page is Not Greater than 1 then make First a Text  -->
                            <span th:unless="${currentPage > 1}">First</span>
                        </li>

                        <li class="page-item">
                            <!--    If  the Current Page (maybe Page 2, 3, 4) is Greater than 1 then make Previous a Link and redirect to it subtracting 1 from the current page    -->
                            <a th:if="${currentPage > 1}" th:href="@{'/countries/page/' + ${currentPage - 1}}">Previous</a>
                            <!--    If  the Current Page is Not Greater than 1 then make Previous a Text  -->
                            <span th:unless="${currentPage > 1}">Previous</span>
                        </li>
                        <li class="page-item">
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:href="@{'/countries/page/' + ${i}}">[[${i}]]</a>
                                </span>
                        </li>

                        <li class="page-item">
                            <!--    If  the Current Page (maybe Page 1, 2) is Less than the Total numbers of Pages (maybe 3, 4, 5) then make Next a Link and redirect to it adding 1 to the current page    -->
                            <a th:if="${currentPage < totalPages}" th:href="@{'/countries/page/' + ${currentPage + 1}}">Next</a>
                            <!--    If  the Current Page is Not Less than the Total number of pages  then make Next a Text  -->
                            <span th:unless="${currentPage < totalPages}">Next</span>
                        </li>

                        <li class="page-item">
                            <!--    If  the Current Page (maybe Page 1, 2) is Less than the Total numbers of Pages (maybe 3, 4, 5) then make Last a Link and redirect to it -->
                            <a th:if="${currentPage < totalPages}" th:href="@{'/countries/page/' + ${totalPages}}">Last</a>
                            <!--                       Display the otherwise here         -->
                            <span th:unless="${currentPage < totalPages}">Last</span>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>