<!DOCTYPE html>
<!-- The xml:layout attribute enable this page to use the _layout page codes and render that instead-->
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Add New State</title>
</head>
<body>
  <div layout:fragment="content">
      <div class="container" style="width: 70%">

          <div class="row">
              <div class="col-lg-12">
                  <h3 class="page-header"><i class="fa fa-laptop"></i>Add New State</h3>
                  <ol class="breadcrumb">
                      <li><i class="fa fa-home"></i><a href="index.html">Parameter Home</a></li>
                  </ol>
              </div>
          </div>

            <!--Add New Country Form-->
              <div class="row">
                  <form class="form-horizontal " th:action="@{/states}" method="post">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Add New Country
                          </header>
                          <div class="panel-body">
                                  <div class="form-group">
                                      <label class="control-label col-sm-4">State Name</label>
                                      <div class="col-sm-6">
                                          <input name="name" type="text" class="form-control" required>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label col-sm-4">Capital</label>
                                      <div class="col-sm-6">
                                          <input name="capital" class="form-control" type="text" required>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label col-sm-4">Code</label>
                                      <div class="col-sm-6">
                                           <input name="code" type="text" class=" form-control" required/>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label col-sm-4">Country ID</label>
                                      <div class="col-sm-6">
                                          <select class="form-control" name="countryid" id="ddlCountryAdd" required>
                                              <option>-SELECT-</option>
                                              <option th:each="country : ${countries}"
                                                        th:value="${country.id}"
                                                        th:text="${country.description}"></option>
                                          </select>
                                      </div>
                                  </div>
                          </div>
                      </section>
                <!--  Saving and Exit Buttons-->
                      <section class="panel">
                          <div class="panel-body text-center">
                              <button type="submit" class="btn btn-success">Save State</button>
                              <a href="/states" class="btn btn-danger">Exit</a>
                          </div>
                      </section>
                  </div>
                  </form>
              </div>
          </div>
          </div>
</body>
</html>