<!DOCTYPE html>
<!-- The xml:layout attribute enable this page to use the _layout page codes and render that instead-->
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Helpdesk Department</title>
</head>
<body>
    <div layout:fragment="content">
        <!--   First Row -->

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i>Helpdesk Dashboard</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Helpdesk Home</a></li>
                    <li><i class="fa fa-laptop"></i>Home</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Tickets</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/countries" class="btn btn-primary">Manage Tickets</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Ticket Status</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Manage Ticket Status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>